.bg-container {
  background-image: linear-gradient(to bottom, #f6f9fa, #69c5ae);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: center;
}
.digital-heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 46px;
  font-weight: bold;
  margin: 0px;
}
.digital-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1140px;
  height: 90vh;
  margin: 2%;
}
/* .img {
  height: 85%;
  width: 85%;
  background-size: contain;
} */

.time-display {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  height: 700px;
  width: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.center-box {
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-start-reset {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

img {
  height: 40px;
  width: 40px;
}

.increat-decreat-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.center-heading {
  color: #00d9f5;
  font-family: 'Roboto';
  font-weight: bolder;
  font-size: 46px;
  margin: 0px;
}
.center-description {
  color: #0f172a;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 26px;
  margin: 0px;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #0f172a;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.time-description {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
}
.button-description {
  /* height: 30px;
  width: 30px; */
  padding: 8px 26px;
  background: linear-gradient(to right, #30ec85, #15f3e1);

  color: #1e293b;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
}
